{% extends "base.html" %} 

{% block title %} Detalles {{ song.name }} {% endblock %}

{% block main_content %}
	 	<div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/covers/{{ song._id.toString() }}.png" >
		  </div>
		  <div class="media-body">
				<h2>{{ song.title }}</h2>
				<p>{{ song.author }}</p>
				<p>{{ song.genre }}</p>
				{% if song.isPurchased == true %}
					<audio controls>
						<source src="/audios/{{ song._id.toString() }}.mp3" type="audio/mpeg">
					</audio>
				{% else %}
				<a class="btn btn-primary pull-right"
					 href="/song/purchase/{{song._id.toString()}}">{{ song.price }} €</a>
		  </div>
			{% endif %}
		</div>
	  </div>

		<div class="row" style="margin-top: 20px">
			<h3>Comentarios</h3>
		{% for comment in comments %}
			<div class="media col-xs-10">
			  <div class="media-left media-middle">
					<a href="#">
				  	<img class="media-object" src="/img/user.png" >
					</a>
			  </div>
			  <div class="media-body">
					<h4 class="media-heading">{{comment.author}}</h4>
					{{comment.text}}
				</div>
		  </div>
		{% endfor %}
		</div>

		<form class="form-horizontal" method="post" action="/comments/{{ song._id.toString() }}" encType="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="text">Escribe un comentario:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="text"
								 placeholder="Comentario..." required="true"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Publicar comentario</button>
				</div>
			</div>
		</form>
{% endblock %}
