{% extends "base.html" %} {% block title %} Mis publicaciones {% endblock %}

{% block main_content %}
<h2>Mis publicaciones</h2>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/songs/add" class="btn btn-info" role="button">Agregar canción</a>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Genero</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for song in songs %}
			<tr>
				<td>{{ song.title }}</td>
				<td>{{ song.genre }}</td>
				<td><a href="/song/edit/{{ song._id.toString() }}">Modificar</a> <br>
					<a href="/song/remove/{{ song._id.toString() }}">Eliminar</a> <br>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/songs/add" class="btn btn-info" role="button">Agregar canción</a>
</div>

{% endblock %}
